{% extends 'admin-layout.html.twig' %}

{% block container %}
                <h1>
                    Noticias activas
                    <a class="btn btn-primary entity pull-right" href="{{ path('create') }}" rel="tooltip" title="Nuevo">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                </h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Titulo</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for noticia in noticias %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ noticia.titulo }}</td>
                                <td>{{ noticia.creado }}</td>
                                <td>{{ noticia.actualizado }}</td>
                                <td>
                                    <a class="btn btn-info btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    <a class="btn btn-warning btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-danger btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
{% endblock %}
