{% extends 'admin-layout.html.twig' %}

{% block container %}
                <h1>
                    Historial
                    <a class="btn btn-primary entity pull-right" href="{{ path('create') }}" rel="tooltip" title="Nuevo">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                </h1>
                {% if noticias|length > 0 %}
                <div class="advanced_search row hidden">
                    <div class="input-group col-xs-12 col-sm-12 col-md-6">
                        <select class="form-control input-group-addon tiny-search" id="columns"></select>
                        <input class="form-control tiny-search" type="text" id="query" placeholder="Ingrese su búsqueda" />
                    </div>
                </div>
                <div class="row hidden" id="advanced_search">
                    <div class="input-group col-xs-12 col-sm-6 col-md-3">
                        <select class="form-control" id="results-per-page">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span class="input-group-addon">Resultados por página</span>
                    </div>
                    <div class="input-group col-xs-12 col-sm-6 col-md-3">
                        <span class="input-group-addon">Página</span>
                        <select class="form-control" id="pagedropdown"></select>
                        <span class="input-group-addon"><span style="display:none" id="currentpage"></span> de <span id="totalpages"></span></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <ul class="pager">
                            <li><a href="#" style="white-space:nowrap;">Consultas del <span id="startrecord"></span> al <span id="endrecord"></span> de <span id="totalrecords"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                        <ul class="pagination">
                            <li class="disabled"><a class="first-page" href="#"><<</a></li>
                            <li class="disabled"><a class="prev-page" href="#"><</a></li>
                            <li><a class="next-page" href="#">></a></li>
                            <li><a class="last-page" href="#">>></a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed table-hover tinytable" id="table">
                        <thead>
                            <tr>
                                <th class="nosort"><span>Nº</span></th>
                                <th><span><i class="glyphicon glyphicon-sort"></i>Titulo</span></th>
                                <th><span><i class="glyphicon glyphicon-sort"></i>Creado</span></th>
                                <th><span><i class="glyphicon glyphicon-sort"></i>Actualizado</span></th>
                                <th><span><i class="glyphicon glyphicon-sort"></i>Estado</span></th>
                                <th class="nosort"><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for noticia in noticias %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ noticia.titulo }}</td>
                                <td>{{ noticia.creado }}</td>
                                <td>{{ noticia.actualizado }}</td>
                                <td>{% if noticia.estado == 0 %}Borrador{% elseif noticia.estado == 1 %}Activa{% elseif noticia.estado == 2 %}Papelera{% endif %}</td>
                                <td>
                                    <a class="btn btn-info btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    <a class="btn btn-warning btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-danger btn-xs entity" href="/api/{{ noticia.id }}/" rel="tooltip" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h2>No hay noticias pasadas</h2>
                {% endif %}
{% endblock %}
