{% extends 'base.html.twig' %}

{% block title %} Administracion{% endblock %}
{% block stylesheets -%}
        {{ parent() }}
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<link href="/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content -%}
<div id="terapiyoModal" class="modal fade"></div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin') }}">Terapiyo</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Noticias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin') }}">Activas</a></li>
                    <li><a href="{{ path('borrador') }}">Borrador</a></li>
                    <li><a href="{{ path('papelera') }}">Papelera</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('programadas') }}">Programadas</a></li>
                    <li><a href="{{ path('historial') }}">Historial</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Consultas<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('consultas') }}">Pendientes</a></li>
                    <li><a href="{{ path('respondidas') }}">Respondidas</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    <div id="flash_message" class="alert hidden">
        <strong id="flash_title"></strong>
    </div>
    <div class="container">
    {% block container %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="/js/moment.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.es.js"></script>
<script src="/js/tinyTableV3.js"></script>
<script src="/js/admin.js"></script>
<script>
    $(document).on('ready', function(){
        $("[rel='tooltip']").tooltip();
        {% set tiny = ['/admin/papelera', '/admin/historial', '/admin/consultas']%}
        {% if app.request.getRequestUri in tiny %}
        var sorter = new TINY.table.sorter('sorter','table',{
            headclass:'head',
            ascclass:'asc',
            descclass:'desc',
            evenclass:'evenrow',
            oddclass:'oddrow',
            evenselclass:'evenselected',
            oddselclass:'oddselected',
            paginate:true,
            size:10,
            colddid:'columns',
            currentid:'currentpage',
            totalid:'totalpages',
            startingrecid:'startrecord',
            endingrecid:'endrecord',
            totalrecid:'totalrecords',
            pageddid:'pagedropdown',
            navid:'search_results',
            init:true
        });
        $('.first-page').on('click', function(){ sorter.mueve(-1,true); });
        $('.prev-page').on('click', function(){ sorter.mueve(-1); });
        $('.next-page').on('click', function(){ sorter.mueve(1); });
        $('.last-page').on('click', function(){ sorter.mueve(1,true); });
        $('#results-per-page').on('change', function(){ sorter.size(this.value) });
        $('#columns').on('change', function(){ sorter.search('query') });
        $('#query').on('keyup', function(){ sorter.search('query') });
        $('.reset-tiny-table').on('click', function(){ sorter.reset(); });
        $('.showall-tiny-table').on('click', function(){ sorter.showall(); });
        {% endif %}
    });
</script>
{% endblock %}